body{
    min-width: 1500px;
    font-family: tahoma;
    margin: auto;
    margin-top: -22px;
}
.header{
    background-color:  #EBE7DB;
    text-align: center;
    color: #202040;
    width: 100%;
    padding-bottom: 15px;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}
form{
    width: auto;
    margin-top: -5px;
}
#parentinfotitle,
#parent2infotitle{
    text-align: center;
}
input[type="tel"]{
    text-align: center;
}
fieldset{
    background-color:#1b1b32;
    color: white;
    text-align: center;
    border: none;
    border-bottom: 3px solid #3b3b4f;
    border-radius: 5px;
    padding-bottom: 20px;
}
input,
select{
    background-color: #0a0a23;
    border: #EBE7DB;
    color: white;
    text-align: center;
    margin-right: 20px;
}
input[type="Submit"]{
    display: block;
    margin: auto;
    text-align: center;
    height: 40px;
    width: 40%;
    background-color: #3b3b4f;
    border-color: white;
    color: white;
    margin-top: 20px;
    border-radius: 10px;
}
input[type="Submit"]:hover{
    background-color: rgb(117, 17, 17);
}
label{
    font-size: 15px;
}
fieldset:first-of-type{
    border-bottom: none;
}
.file1,
.file2,
.file3{
    background-color: #0a0a23;
    border: #EBE7DB;
    color: white;
    text-align: center;
    margin-right: 20px;
}
.completerequiredfiles{
    border-bottom: none;
}
.fileupload{
    padding-top: 20px;
}
.otherinformation{
    max-width: 100%;
}

    





